.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}
.nav ul li{
    padding: 8px;
}
a{
    text-decoration: none;
    color: #c11923;
    transition: all .3s ease;
}
/*ajustes na tela de fundo*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(imagens/novotempo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
a:hover{
    border-bottom: 8px solid #c11923;
       
}
.container{
    text-align: center;
    
}
#arrow{
    font-size: 25px;
    color: rgb(67 63 69);
    cursor: pointer;
    animation: blink 1s steps(2, start) infinite;
}
/* visibilidade na seta, estilo de pisca pisca*/
@keyframes blink {
    to {
        visibility: hidden;
    }
}
/* animaçao da seta, alteração no cursor, alteração na rotação */
#animation{
    transition: 300ms;
}
.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}
.active{
    display: block !important;
}
h1{
    font-size: 50px;
    margin-top: 100px;
    font-family: 'Handlee', cursive;
    color: #fdfffd;
}
h2{
    font-weight: lighter;
    color: #fdfffd;
}
.content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #3f3b465c;
    color: #fdfffd;
    padding: 15px;
    border-radius: 20px;
    display: none;
}
.content ul{
    list-style-type: none;
}
/* alteração no limite de tela*/
@media(max-width:768px){
    .nav ul{display:block;} 
    h1{font-size:36px;}
    .content{width:90%;} 
}
